<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="net.bestmember.isjung.rentalfree.dao.AttachFileMapper">
    <insert id="insertAttachFile" parameterType="java.util.Map">
	    <selectKey keyProperty="att_seq" resultType="long" order="AFTER">
	        SELECT LAST_INSERT_ID()
	    </selectKey>      
    	INSERT INTO t_attach_file(
			att_file
			, prod_seq
		) VALUES (
			 #{att_file}
			, #{prod_seq}
		)
    </insert>
    
    <update id="updateAttachFile" parameterType="java.util.Map">
    	UPDATE t_attach_file
    	<set>
			<if test="att_url != null" >, att_file = #{att_file}</if>
		</set>
		WHERE 
			att_seq = #{att_seq}
    </update>
    
    <delete id="deleteAttachFile" parameterType="long">
        DELETE FROM t_attach_file WHERE att_seq = #{att_seq}
    </delete>
    
    <select id="selectAttachFile" parameterType="long" resultType="java.util.Map">
        SELECT * FROM t_attach_file WHERE att_seq = #{att_seq}
    </select>
    
    <select id="selectAttachFileList" parameterType="long" resultType="java.util.Map">
        SELECT * FROM t_attach_file
        WHERE prod_seq = #{prod_seq}
    </select>
</mapper>